<ion-header>
  <ion-toolbar>
    <ion-title>FCT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="../../../assets/icon/minion.jpg"/>
    <ion-card-header>
      <ion-card-subtitle> Pelicula </ion-card-subtitle>
      <ion-card-title>minion</ion-card-title>
    </ion-card-header>
    <ion-card-content>Es un pelicula muy taquillera</ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../../assets/icon/moratalaz.jpg"/>
    <ion-card-header>
      <ion-card-subtitle> Instituto </ion-card-subtitle>
      <ion-card-title>Graduacion</ion-card-title>
    </ion-card-header>
    <ion-card-content>Gente que no tenia nada que hacer con su vida y se metio aqui</ion-card-content>
  </ion-card>   
  

  

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="logo-apple"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-android"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-bitcoin"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  

  
 
    
 
</ion-content>
