<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
 
    <ion-title>DAM 1</ion-title>
    
      <ion-icon name="star"  slot="end" ></ion-icon>
    
   </ion-buttons>
   
 
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://i.blogs.es/3818bd/programacion/1366_2000.jpg" />
    </ion-avatar>
    <ion-checkbox slot="end"></ion-checkbox>
    <ion-label>Programacion</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://media.istockphoto.com/vectors/database-thin-line-icon-vector-id1219760113?k=20&m=1219760113&s=612x612&w=0&h=npUDcPwqYh4Ya37RS7oIMoaA5qZRJM6uGTmRcLp_hLk=" />
    </ion-avatar>
    <ion-checkbox slot="end"></ion-checkbox>
    <ion-label>Base de datos</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="end"></ion-checkbox>
    <ion-label>Entorno de desarrollo</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="end"></ion-checkbox>
    <ion-label>Sistemas Informaticos</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="end"></ion-checkbox>
    <ion-label>Lenguaje de marcas</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="end"></ion-checkbox>
    <ion-label>Fol</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="end"></ion-checkbox>
    <ion-label>Ingles</ion-label>
  </ion-item>
</ion-content>
  

