
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
 
    <ion-title>Datos Personales</ion-title>
   
      <ion-icon name="star"  ></ion-icon>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <p><ion-item><ion-label>Nombre: </ion-label><ion-input value="{{nombre}}" enable></ion-input></ion-item></p>
  <p><ion-item><ion-label>Apellidos: </ion-label><ion-input value="{{apellidos}}" enable></ion-input></ion-item></p>
  <p><ion-item><ion-label>Localidad: </ion-label><ion-input value="{{localidad}}" enable></ion-input></ion-item></p>
  <p><ion-item><ion-label>Estudios: </ion-label><ion-input value="{{estudios}}" enable></ion-input></ion-item></p>
  <p><ion-item><ion-label>Email: </ion-label><ion-input value="{{email}}" enable></ion-input></ion-item></p>
  <p><ion-item><ion-label>Contraseña: </ion-label><ion-input type="password" value="{{contrasena}}" enable></ion-input></ion-item></p>
 
  
</ion-content>
